body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #003868;
	background-color: #80B8E8;
	margin: 6mm;
}
a{
    color: #ffff00;
}
.tabelka{
    background: #3333ff;
    color: white;
}
.value{
    background: #000099;
}
/*---------------------------*/
.ziel {
    background: lawngreen;
    color: black;
    font-weight: bold;
}
.normal {
    color: black;
    font-weight: bold;
    background:#cccccc;
}
.handluj {
    background: green;
    font-weight: bold;
    color: yellow;
}
/*---------------------------*/
.red {
    color: #ff3300;
    
}
.green {
    color: #33ff00;
    font-weight: bold;
}
.etykieta{
    font-weight: bold;
    color: white;
    background: black;
}